PORT=8000
MONGODB_URI=mongodb+srv://sandeep_db_user:Sandeep@2025@cluster0.ngeq5hw.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET=8f9d7a6c5b4e3f2a1d0c9b8a7e6f5d4c
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=9f3b7c2e1a6d4f8b5c0e9a7d3f1b6c2e4a8d9b7c5e3f1a6b2c4d8e0f9a7b3c1
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=ddd6r26mh
CLOUDINARY_API_KEY=459323227462417
CLOUDINARY_API_SECRET=-diB7jMZaiy71qgpEp0sqpxFQuU